<div id="title">
  <h2>Send Will And Thomas</h2>
  <h1>Across America<span>.com</span></h1>
</div>
<%= content_tag(:div, nil, :id => 'donation_bar', :data => {donated: @donated, donated_formatted: number_to_currency(@donated, precision: 0)}) %>

<%= form_for @donation do |f| %>
  <%= f.hidden_field :stripe_card_token %>
  <%= f.label :email %>
  <%= f.text_field :email, placeholder:  "optional" %>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "optional" %>
  <%= f.label :note %>
  <%= f.text_area :note, placeholder: "leave us a note if you want to", cols: 39, rows: 5 %>
  <%= f.label :amount %>
  <%= f.text_field :amount, placeholder: "in USD" %>
  <%= label_tag :card_number, "Credit Card Number" %>
  <%= text_field_tag :card_number, nil, name: nil %>
  <%= label_tag :card_code, "Security Code on Card (CVV)" %>
  <%= text_field_tag :card_code, nil, name: nil, placeholder: "the thingy on the back" %>
  <%= label_tag :card_month, "Card Expiration" %>
  <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
  <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
  <br />
  <%= f.submit "Donate", class: "btn primary"%>
  <div id="stripe_error">
    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>
<% end %>

<div id="donate_now_tab">
  <span>Donate Now</span>
  <span style="display:none">Close</span>
</div>

<article id="what_we_are_doing">
  <header>What We're Doing</header>
  <p>Thomas and I are going across America to see the beautiful country we live in.  Along the way we'll be photographing, videoing, and just generally chronicling our journey, which you will be able to keep up with on this site!  There will be a live location tracker, blog posts, photos, and videos.  I'm sure they'll all be priceless.  But if you had to assign a price to it... you could donate that to our trip!  While we are primarily funding the trip ourselves, we aren't above a little help.  And if you do we've got some sweet prizes!</p>
  <p>We've calculated fuel costs, motel costs, and food costs and have come up with a goal amount of $5,000.  You're probably asking, "Hey! What do I get for sending you on this trip?".  Well I'm glad you asked!  There are some incentives, depending on how much you give.  Allow me to present to you, the chart:</p>
</article>

<article id="the_incentives">
  <header>The Incentives</header>
  <p>For any amount you donate, you will get all incentives at, and below your donation (except where *'d (usually because it would be redundant)).</p>
  <dl>
    <dt>$5</dt>
      <dd>a post card</dd>
    <dt>$15</dt>
      <dd>a souvenir</dd>
    <dt>$25</dd>
      <dd>we'll bring a photo of you on a stick with us and take pictures with it at places</dd>
    <dt>$50</dt>
      <dd>Will will give you a hug</dd>
    <dt>$100</dt>
      <dd>Thomas will give you a hug</dd>
  </dl>
</article>

<article id="the_route">
  <header>The Route</header>
  <p>The route is currently being planned.  If you have any suggestions of places you think we should make sure are on our route, shoot us an email at <a href="mailto:suggestions@sendwillandthomasacrossamerica">suggestions@sendwillandthomasacrossamerica.com</a></p>
  <p>For now, feel free to look at this route-less map of America</p>
  <iframe width="960" height="540" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/?ie=UTF8&amp;ll=38.754083,-93.251953&amp;spn=37.434345,93.076172&amp;t=m&amp;z=4&amp;vpsrc=6&amp;output=embed"></iframe>
</article>