<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @donation.name %>
</p>

<p>
  <b>Value in pennies:</b>
  <%= @donation.value_in_pennies %>
</p>


<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
